
.__filter{
  background-color: #2748a0;
color: white;

}
.__pie_chart_btn{
  background-color: white;
  margin: 0;
}
.doughnut-description .title{
    margin-top: 20px;
    margin-bottom: 20px;
}
.doughnut-description .expenses{
    margin-top: 20px;
    margin-bottom: 20px;
}

@media screen and (min-width:1024px) and (max-width:1440px){
    .doughnut-description .expenses{
        margin-top: 20px;
        margin-bottom: 20px;
        }
}
