<div class="__bg">
  <div class="container col-md-12 col-xl-9">
    <div class="my-3">
      <h1 style="color: #0859ce">{{ now }}</h1>
    </div>
    <app-cards></app-cards>

    <div class="row">
      <div class="col-md-6">
        <app-bar-chart
          [title]="'Spent per category'"
          [typeOfChart]="'prices'"
        ></app-bar-chart>
      </div>
      <div class="col-md-6">
        <app-bar-chart
          [title]="'Expenses per category'"
          [typeOfChart]="'ammount'"
        ></app-bar-chart>
      </div>
    </div>

    <app-table></app-table>
  </div>
</div>
