<div class="__search"><input type="text" placeholder="Search" /></div>
<div class="container col-10">
  <div class="row __top">
    <div class="row __top_info col-md-6">
      <div class="col-xl-6">
        <div class="card p-3 m-3">
          <span class="__card_title">Total expenses</span>
          <div class="__card_info">
            <span class="__number">33</span>
            <img src="assets\svgs\icons\arrow-up.svg" />
            <span>more than last month</span>
          </div>
          <h4>16</h4>
        </div>
      </div>
      <div class="col-xl-6">
        <div class="card p-3 m-3">
          <span class="__card_title">Total spent</span>
          <div class="__card_info">
            <span class="__number">33</span>
            <img src="assets\svgs\icons\arrow-up.svg" />
            <span>more than last month</span>
          </div>
          <h4>16</h4>
        </div>
      </div>
      <div class="col-xl-12">
        <div class="card m-3">
          <app-bar-chart-mini></app-bar-chart-mini>

          <!-- <span class="__card_title">sometin</span>
          <div class="__card_info">
            <span class="__number">33</span>
            <img src="assets\svgs\icons\arrow-up.svg" />
            <span>more than last month</span>
          </div>
          <h4>16</h4> -->
        </div>
      </div>
    </div>
    <div class="row __top_info col-md-6">
      <div class="col-xl-6">
        <div class="card p-3 m-3">
          <span class="__card_title">Avg. expenses</span>
          <div class="__card_info">
            <span class="__number">3</span>
            <img src="assets\svgs\icons\arrow-up.svg" />
            <span>more than last month</span>
          </div>
          <h4>16</h4>
        </div>
      </div>
      <div class="col-xl-6">
        <div class="card p-3 m-3">
          <span class="__card_title">Avg. spent</span>
          <div class="__card_info">
            <span class="__number">33</span>
            <img src="assets\svgs\icons\arrow-up.svg" />
            <span>more than last month</span>
          </div>
          <h4>16</h4>
        </div>
      </div>
      <div class="col-xl-12">
        <div class="card m-3">
          <app-bar-chart-mini></app-bar-chart-mini>
          <!-- <span class="__card_title">sometin</span>
          <div class="__card_info">
            <span class="__number">33</span>
            <img src="assets\svgs\icons\arrow-up.svg" />
            <span>more than last month</span>
          </div>
          <h4>16</h4> -->
        </div>
      </div>
    </div>
  </div>
  <!--  -->
  <div class="row __center">
    <div class="row __center_info col-md-12 m-3 p-4">
      <app-table></app-table>
    </div>
  </div>
  <!--  -->
</div>
