

<div class="row d-flex justify-content-center text-center">
  <app-filter
  [months]="allMonths"
  [currentMonth]="currentMonth[0]"
  (selectedMonth)="selectMonth($event)"
></app-filter>
  <div class="__box col-sm-6 col-lg-3">
    <div class="col-12 card __top_cards">
      <app-cards-info
      [total]="spentCurrentMonth"
      [description]="'Total spent'"
      [icon]="'cash'"
      [difference]="difference"
      ></app-cards-info>
    </div>
  </div>
  <div class="__box col-sm-6 col-lg-3">
    <div class=" card __top_cards">
      <app-cards-info
      [total]="average"
      [icon]="'arrow-up-down'"
      [difference]="differenceInAverage"
      [description]="'Avg. spent'"
      ></app-cards-info>
    </div>
  </div>
  <div class="__box col-sm-6  col-lg-3">
    <div class=" card __top_cards">
      <app-cards-info
      [total]="totalCurrentExpenses"
      [icon]="'check-list'"
      [description]="'Total expenses'"
      [difference]="differenceInExpenses"
      ></app-cards-info>
    </div>
  </div>
  <div class="__box col-sm-6  col-lg-3">
    <div class=" card __top_cards">
      <app-cards-info
      [total]="expensesAverage"
      [icon]="'cart'"
      [description]="'Avg. expenses'"
      [difference]="expensesPreviousAverage"

      ></app-cards-info>
    </div>
  </div>

</div>
