

.__bg {
  background-color: #fafafa;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}
::placeholder {
  text-align: center;
  border-radius: 20px;
}
.__login{
  box-shadow: 10px 10px 39px 0px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  background-color: #F9FaF5;
  color: #F9FaF5;
}
.__loginImg img {
  width: 80%;
  height: 80%;
}
.__loginImg, .__loginForm  {
  background-color: #F9FaF5;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  border-radius: 15px;
}
.__loginForm  {
  background-color: #2748a0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.__person img{
  color: #F9FaF5 !important;
}
.__btn_singIn,.__btn_singIn input {
  border: none;
  background-color: #F9FaF5;
  color: #2748a0;
}
.__btn_singIn:hover {
  border: none;
  background-color: #F9FaF5;
  color: #2748a0;
}



@media screen and (max-width: 767px) {
  .__loginForm  {
    border-radius: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .__loginImg img {
    width: 100%;
    height: 100%;
  }
}
@media screen and (min-width: 767px) and (max-width: 1200px) {
  .__loginImg img {
    width: 125%;
    height: 125%;
  }
}

