.__bg {
  background-color: white;
  padding-top: 1rem;
  border-radius: 15px;
}
.__filter {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2748a0;
  color: white;
}


.card {
  margin-top: 1rem;
  border: none;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
  padding: .5rem;
}
.__loading img{
  animation: rotate 2s infinite linear;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
