<div class="bg">
  <div class="d-flex justify-content-center mb-3">
    <app-my-expenses-btns
      data-bs-toggle="modal"
      data-bs-target="#createExpense"
      [btnName]="'Create new expense'"
      [btnIcon]="'bi bi-plus-square-fill'"
      [btnStylesRef]="'__create_new_expense'"
    ></app-my-expenses-btns>
  </div>
  <app-table></app-table>
  <app-modal-new-expense></app-modal-new-expense>
  <app-modal-update-expense></app-modal-update-expense>
  <app-modal-delete-expense></app-modal-delete-expense>
</div>
