<!-- Modal -->
<div
  class="modal fade"
  id="updateExpense"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="updateExpenseLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="updateExpenseLabel">
          Do you want to edit this expense?
        </h4>
        <!-- <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button> -->
      </div>
      <div class="modal-body ">
          <app-modal-table [expense]="expense"></app-modal-table>
      </div>
      <div class="modal-body">
        <form [formGroup]="updateExpenseForm">
          <div class="row d-flex justify-content-center">
            <select formControlName="category" class="form-select">
              <option value="" disabled selected>Select a new category</option>
              <option *ngFor="let category of categories">
                {{ category.category }}
              </option>
            </select>
            <input
              class="form-control"
              type="number"
              formControlName="price"
              placeholder="Enter the new price$"
            />
            <input
              class="form-control"
              type="text"
              formControlName="name"
              placeholder="Enter the new name"
            />
            <div class="__invalid_input" *ngIf="invalidName">
              <img src="assets\svgs\icons\bookmark-x.svg" alt="" />
              <span>Invalid name</span>
            </div>
            <input
              class="form-control"
              type="date"
              formControlName="date"
              placeholder="Enter the new date"
            />
          </div>
        </form>
        <div class="text-center">
          <div><strong>Important!</strong></div>
          <div>Only the values you entered will be modified</div>
        </div>
      </div>
      <div class="modal-footer d-flex justify-content-between">
        <button type="button" class="__btn_cancel" data-bs-dismiss="modal">
          Cancel
        </button>
        <button
          [disabled]="updateExpenseForm.invalid"
          type="button"
          [ngClass]="{
            __btn_update: !updateExpenseForm.invalid,
            __btn_update_invalid: updateExpenseForm.invalid
          }"
          data-bs-dismiss="modal"
          (click)="updateExpense()"
        >
          Create
        </button>
      </div>
    </div>
  </div>
</div>
