<!-- Modal -->
<div class="modal fade" id="createExpense" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="createExpenseLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title " id="createExpenseLabel">¿Desea crear un gasto?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="newExpenseForm">
                    <div class="row d-flex justify-content-center">
                        <select formControlName="category">
                          <option value="" disabled selected>Seleccione una categoria</option>
                          <option *ngFor="let category of categories" >{{category.category}}</option>
                        </select>
                        <input type="number" formControlName="price" placeholder="Ingrese el precio $">
                        <input type="text" formControlName="name" placeholder="Ingrese el nombre">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" 
                data-bs-dismiss="modal"
                >
                Cancelar
            </button>
                <button type="button" class="btn" 
                data-bs-dismiss="modal" (click)="createNewExpense()" 
                style="background-color:  #719ECE;color: white;"
                >
                Crear
            </button>
            </div>
        </div>
    </div>
</div>