.nav {
  background-color: #0859ce;
  font-weight: bold;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  text-align: center;
  align-items: center;
  display: flex;
}
.navbar-collapse {
  display: flex;
  align-items: center;
  width: 100%;

}

.__logo {
  height: 56px;
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  color: white;
}
.__item_menu {
  color: white;
  cursor: pointer;
  text-align: center;
  width: 100%;
}
.__item_menu div{
  color: white;
  transition: all 300ms;

}
.__item_menu div:hover, i:hover {
  color:  #0859ce;
  transition: all 300ms;
  font-size: 1.2rem;
  padding: 3px;
  background-color: #fafafa;
}
.__signOut {
  width: 100%;
  cursor: pointer;
  color: white;
}
.__signOut div {
  transition: all 300ms;
  margin-bottom: 20px;
}
.__signOut div:hover, i:hover {
  color:  #0859ce;
  transition: all 300ms;
  font-size: 1.2rem;
  padding: 3px;
  margin-bottom: 15px;

  background-color: #fafafa;
}
.__signOut_collapse {
  display: none;
}

@media screen and (max-width: 1200px) {
  .nav {
    position: relative;
  }
  .__brand {
    display: flex;
    justify-content: space-between !important;
    margin: 0;
  }

  .__signOut {
    display: none;
  }

  .navbar-toggler {
    background-color: white;
  }
  .__item_menu {
    text-align: center;
    display: inline-block;
    margin: 1rem;
  }
}
