.nav {
  background-color: #0859ce;
  font-weight: bold;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  text-align: center;
  align-items: center;
  display: flex;
}
.navbar-collapse{
  display: flex;
  align-items: flex-start;
  padding: 10px;
}

.__logo {
  height: 56px;
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  color: white;
}
.__item_menu {
  /* position: relative;
  top: 40%; */
  color: white;
  cursor: pointer;
  text-align: center;
  padding: inherit;


}
.__signOut {
  color: white;
}
.__signOut_collapse {
  display: none;
}

@media screen and (max-width: 1200px) {
  .nav {
    position: relative;
  }
  .__brand {
    display: flex;
    justify-content: space-between !important;
    margin: 0;
  }

  .__signOut {
    display: none;
  }

  .navbar-toggler {
    background-color: white;
  }
  .__item_menu {
    text-align: center;
    display: inline-block;
    margin: 1rem;
  }
}
