<nav class="nav navbar flex-column navbar-expand-xl">
  <div class="__brand p-2 col-12">
    <div class="__logo">Expenses App</div>
    <div class="d-flex align-items-center">
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
  <div class="collapse navbar-collapse flex-column" id="navbarNav">
    <div class="__item_menu my-2">
      <div routerLink="/home">Home</div>
    </div>
    <div class="__item_menu my-2">
      <div routerLink="main/my-expenses">Expenses</div>
    </div>

    <div class="__item_menu my-2">
      <div routerLink="main/summary">Summary</div>
    </div>

    <div class="__signOut_collapse __item_menu my-2">
      <div (click)="signOut()">Log out</div>
    </div>
  </div>
  <div class="__signOut">
    <div (click)="signOut()">Log out</div>
  </div>
</nav>
