
input,
select {
    margin: 5px;
}
.modal-header{
  background-color: #0859ce;
}
.modal-title{
 color: white;
}
.modal-footer{
  height: 5rem;
  padding: 10px;
}
.__btn_cancel,
.__btn_update {
  cursor: pointer;
  border: none;
  border-radius: 10px;
  padding: 10px;
  color: #f9faf5;
  transition: all 300ms;

}
.__btn_update {
  background-color: #0859ce;
}
.__btn_cancel {
  background-color: #ff0080;
}
.__btn_update_invalid{
  opacity: .5;
  background-color: #0859ce;
  border: none;
  border-radius: 10px;
  padding: 10px;
  color: #f9faf5;
  font-weight: 600;
  transition: all 300ms;
}
.__invalid_input{
  display: flex;
  align-items: center;
color: #ff0080;
}
.__invalid_input span{
margin-left: 5px;
}



