<div class="my-3 row d-flex __filter">
  <div class="my-3 col-sm-3">
    <h5>Filter by:</h5>
    <app-filter
      [months]="months"
      (selectedMonth)="selectMonth($event)"
    ></app-filter>
  </div>
</div>
<div class="__bg container-fluid col-md-8">
  <div *ngIf="dataAvailable">
    <div
      class="row d-flex align-items-center justify-content-center"
      *ngIf="expensesInfo.length > 0"
    >
      <div class="col-lg-4">
        <img src="assets\svgs\expense-breackdown.svg" alt="" />
      </div>
      <div class="col-lg-8 d-flex align-items-center justify-content-center">
        <div class="col-lg-8">
          <canvas
            baseChart
            [data]="doughnutChartData"
            [type]="doughnutChartType"
            [options]="doughnutChartOptions"
          >
          </canvas>
        </div>
      </div>
    </div>
    <div
      class="row d-flex justify-content-center"
      *ngIf="expensesInfo.length <= 0"
    >
      <div class="col-12">
        <div class="mt-1 mb-5">
          <h5 style="font-weight: bold">
            Sorry, you doesn't have entries for this month
          </h5>
        </div>
      </div>
    </div>
  </div>
  <div class="row d-flex justify-content-center text-center">
    <div *ngIf="!dataAvailable">
      <div class="row d-flex justify-content-center">
        <div class="col-6">
          <h3 style="font-weight: bold">You have no expenses yet!</h3>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-container *ngIf="expensesInfo.length > 0">
  <app-home-table [expensesInfo]="expensesInfo"></app-home-table>
</ng-container>
