<div class="container-fluid flex-column">
  <div class="d-flex text-center">
    <div class="col-12 mt-4 __title">
      <h1>Welcome again to <strong>ExpensesApp</strong>!</h1>
      <h2>What do you want to see?</h2>
    </div>
  </div>
  <div class="__bg row d-flex justify-content-center align-items-center">
    <div class="col-md-4 order-md-2">
      <img src="assets\svgs\home-charts.svg" alt="" />
    </div>
    <div class="col-md-4 order-md-1">
      <div class="flex-column text-center">
        <div class="col-12 my-3">
          <app-home-btns
          [btnStylesRef]="'__pie_chart_btn'"

            [chartValue]="'doughnutChart'"
            [chartName]="'Doughnut'"
            [chartIcon]="'bi bi-pie-chart-fill'"
            (selectedChart)="selectChart($event)"
          ></app-home-btns>
        </div>
        <div class="col-12 my-3">
          <app-home-btns
          [btnStylesRef]="'__bar_chart_btn'"
            [chartValue]="'barChart'"
            [chartName]="'Bar'"
            [chartIcon]="'bi bi-bar-chart-line-fill'"
            (selectedChart)="selectChart($event)"
          ></app-home-btns>
        </div>
        <!--  -->
        <div class="col-12 my-3">
          <app-home-btns
            [btnStylesRef]="'__bar_chart_btn'"
            [chartValue]="'barChart'"
            [chartName]="'Comming soon'"
            [chartIcon]="'bi bi-question-lg'"
            (selectedChart)="selectChart($event)"
          ></app-home-btns>
        </div>
        <!--  -->
      </div>
    </div>
  </div>
  <ng-container *ngIf="selectedChartName === 'doughnutChart'">
    <app-donut-chart></app-donut-chart>
  </ng-container>
  <ng-container *ngIf="selectedChartName === 'barChart'">
    <app-bar-chart></app-bar-chart>
  </ng-container>

  <!--  -->
</div>
