.__bg {
  background-color: white;
  justify-content: center;
  align-items: center;

  min-width: 100%;
  min-height: 100%;
}
.__title {
  color: #2748a0;
  font-weight: bold;
}


@media screen and (max-width: 426px) {
  .__charts_img {
    width: 75%;
    height: 75%;
  }
}
@media screen and (min-width: 426px) and (max-width: 769px) {
  .__charts_img {
    width: 60%;
    height: 60%;
  }
}

@media screen and (min-width: 1440px) {
  .__charts_img {
    width: 25%;
    height: 25%;
  }
}
