<div class="bg">
    <div class="d-flex justify-content-center mb-3">
        <div class="col-3 btn text-center"
        (click)="isSelected=false"
        style="border-color: rgba(28,163,129, 1);
        background-color:rgba(28,163,129, .3) ;"
        >
            <i class="bi bi-pie-chart-fill"></i>
            <strong> Doughnut</strong>
        </div>
        <div class="col-1"></div>
        <div class="col-3 btn text-center"
        (click)="isSelected=true"
        style="border-color: rgba(28,163,129, 1);
        background-color:rgba(28,163,129, .3) ;"
        >
            <i class="bi bi-bar-chart-line-fill"></i>
            <strong> Bar</strong>
        </div>
    </div>
    <app-donut-chart *ngIf="!isSelected"></app-donut-chart>
    <app-bar-chart *ngIf="isSelected"></app-bar-chart>
</div>