<div class="__bg my-5">
  <div class="d-flex justify-content-center text-center">
    <!--  -->
    <div class="col-sm-4 col-xl-3" *ngIf="!isInSummary">
      <app-my-expenses-btns
        data-bs-toggle="modal"
        data-bs-target="#createExpense"
        [btnName]="'Create new expense'"
        [btnIcon]="'bi bi-plus-square-fill'"
        [btnStylesRef]="'__create_new_expense'"
      ></app-my-expenses-btns>
    </div>
    <!--  -->
  </div>
  <div class="d-flex justify-content-around">
    <div *ngIf="dataAvailable" class="table-responsive col-12 card __top_cards">
      <app-table-filters
        [btnName]="'Order by'"
        [btnIcon]="'bi bi-filter-left'"
        [title]="filterDate"
        (emitFilters)="aplicarFiltro($event)"
      ></app-table-filters>
      <table class="table">
        <thead>
          <tr class="__t_head">
            <th>Name</th>
            <th>Category</th>
            <th class="text-center">Price</th>
            <th class="text-center">Date</th>
            <th *ngIf="!isInSummary" colspan="2" class="text-center">
              Actions
            </th>
          </tr>
        </thead>
        <tbody
          *ngFor="
            let expense of userExpenses | slice : offset : limit;
            let i = index
          "
        >
          <tr>
            <td>
              {{ expense.name }}
            </td>
            <td>
              {{ expense.category }}
            </td>
            <td class="text-center" style="color: #0859ce">
              ${{ expense.price }}
            </td>
            <td class="text-center">
              {{ expense.date | slice : 0 : 10 }}
            </td>
            <td class="text-center" *ngIf="!isInSummary">
              <i
                (click)="getExpense(expense)"
                data-bs-toggle="modal"
                data-bs-target="#updateExpense"
                class="btn bi bi-pen"
                style="color: #0859ce"
              ></i>
            </td>
            <td class="text-center" *ngIf="!isInSummary">
              <i
                (click)="getExpense(expense)"
                data-bs-toggle="modal"
                data-bs-target="#deleteExpense"
                class="btn bi bi-trash3"
                style="color: #ff0080"
              ></i>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="d-flex justify-content-end">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link __pagination" (click)="paginationPrevious()">Previous</a>
          </li>
          <li class="page-item">
            <a class="page-link">{{ currentPage }}</a>
          </li>
          <li class="page-item"><a class="page-link">of</a></li>
          <li class="page-item">
            <a class="page-link">{{ totalPages }}</a>
          </li>
          <li class="page-item">
            <a class="page-link __pagination" (click)="paginationNext()">Next</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
