

.__t_head{
  color: white;
  background-color: rgba(8, 89, 206,.75);
}

.__top_cards {
  border: none;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
  padding: .5rem;
}
.__pagination{
  cursor: pointer;
}

@media screen and (max-width:768px) {
  .__filter{
    margin: 15px;
  }

}
