<!-- Modal -->
<div class="modal fade" id="updateExpense" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="updateExpenseLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title " id="updateExpenseLabel">¿Desea editar este gasto?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row d-flex justify-content-center">
                    <div>Nombre: {{expense?.name}}</div>
                    <div>Categoria: {{expense?.category}}</div>
                    <div>Precio: {{expense?.price}}</div>

                </div>
                <form [formGroup]="updateExpenseForm">
                    <div class="row d-flex justify-content-center">
                        <select formControlName="category">
                          <option value="" disabled selected>Seleccione una nueva categoria</option>
                          <option *ngFor="let category of categories" >{{category.category}}</option>
                        </select>
                        <input type="number" formControlName="price" placeholder="Ingrese nuevo precio $">
                        <input type="text" formControlName="name" placeholder="Ingrese el nuevo nombre">
                        <input type="date" formControlName="date" placeholder="Ingrese la fecha">

                    </div>
                </form>
                <div>Solo se modificaran los valores que ingresó</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" 
                data-bs-dismiss="modal"
                >
                Cancelar
            </button>
                <button type="button" class="btn" 
                data-bs-dismiss="modal" (click)="updateExpense()" 
                style="background-color:  #719ECE;color: white;"
                >
                Crear
            </button>
            </div>
        </div>
    </div>
</div>
