input,
select {
    margin: 15px;
    border-radius: 10px;
    border: solid #719ECE;
}

input:focus,
select:focus {
    outline: none !important;
    border-color: #0d6efd;
    box-shadow: 0 0 10px #0d6efd;
}

textarea:focus {
    outline: none !important;
    border-color: #0d6efd;
    box-shadow: 0 0 10px #0d6efd;
}